.navBarContainer {
  display: flex;
  height: 75px;
  justify-content: space-between;
  align-items: center;
  //   border-bottom: 2px solid black;
  box-shadow: 3px 3px 5px rgba(163, 162, 162, 0.267);
}

.headerContainer {
  display: flex;
  // border: 2px solid blue;
  align-items: center;
  justify-content: space-around;
  width: 300px;
  font-size: 12px;
}

.dumbIconsContainer {
  display: flex;
  //   border: 2px solid red;
  width: 150px;
  & img {
    width: 50px;
    height: 50px;
  }
  justify-content: space-around;
}
